# Dummy dataset

The purpose of this dataset is to create a dummy dataset to run the code

In [16]:
import pandas as pd
from datetime import datetime

# Create a DataFrame with the specified columns
data = {
    "amount": [1000, 1500, 2000, 2500],
    "currency": ["USD", "EUR", "GBP", "RSD"],
    "payment_term": [60, 15, 30, 30],
    "customer_id": ["abc123", "acb345", "xyz678", "abc987"],
    "receipt_date": [datetime(2023, 1, 1), datetime(2023, 1, 1), datetime(2023, 1, 1), datetime(2023, 1, 1)],
    "due_date": [datetime(2023, 3, 2), datetime(2023, 1, 16), datetime(2023, 1, 31), datetime(2023, 1, 1)],
    "weighted_payment_date": [datetime(2023, 3, 20), datetime(2023, 1, 25), datetime(2023, 1, 25), datetime(2023, 1, 1)]
}

df = pd.DataFrame(data)

df

,amount,currency,payment_term,customer_id,receipt_date,due_date,weighted_payment_date
0,1000,USD,60,abc123,2023-01-01,2023-03-02,2023-03-20
1,1500,EUR,15,acb345,2023-01-01,2023-01-16,2023-01-25
2,2000,GBP,30,xyz678,2023-01-01,2023-01-31,2023-01-25
3,2500,RSD,30,abc987,2023-01-01,2023-01-01,2023-01-01

In [19]:
# save the DataFrame to a CSV file
df.to_csv("invoices.csv", index=False)

In [12]:
# Country data:
data_country = {
    "customer_id": ["abc123", "acb345", "xyz678", "abc987"],
    "isocode": ["US", "DE", "GB", "RS"]
}

df_country = pd.DataFrame(data_country)
df_country

  customer_id isocode
0      abc123      US
1      acb345      DE
2      xyz678      GB
3      abc987      RS

In [13]:
df_country.to_csv("countries.csv", index=False)